	table {
		width: 100%;
		margin: 20px 0 50px;
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
		border-spacing: 0;
	}
	table tr th, table tr td {
		font-size: 12px;
		border-bottom: 1px solid #ccc;
		border-right: 1px solid #ccc;
		padding: 7px;
	}
	table tr th {
		background: #e6eaff;
	}
	table#jikoshoukai td {
		color: #f0f;
		background: #ff0;
	}
	table#jikoshoukai th {
		color: #0000cd;
		background: #f0f;
	}
	td.sun {
		color: #fff;
		background: red;
	}
	#sun {
		background-color: red;
	}
	#sat {
		background-color: blue
	}
	table#assignment {
		width: 90%;
		height: 20px 0 50px;
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
		border-spacing: 0;
	}
	table#assignment tr th,table#assignment tr td {
		font-size: 12px;
		padding:7px;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	table#assignment tr th {
		background-color: #e6eaff;
	}
	#sun1 {
		background-color: red;
	}
	#sat1 {
		background-color: blue;
	}
	.sun1 {
		color: #fff;
	}
	.sat1 {
		color: #fff;
	}
	.weekday1 {
		color: #c0c0c0;
	}